
@font-face {
    font-family: Bariol;
    src: url(../fonts/Bariol_Regular.otf);
}

@font-face {
    font-family: BariolItalic;
    src: url(../fonts/Bariol_Regular_Italic.otf);
}

/* font-family: Bariol; */

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}


/*-----------------------------*/
/* NAVBAR */
/*-----------------------------*/
.navbar-custom {
    background-color: #f56262;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFF;
    font-size: 26px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-size:14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background: #000;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}

[aria-expanded="false"] .menu__icon--close {
    display: none;
}

[aria-expanded="true"] .menu__icon--open {
    display: none;
}

[aria-expanded="true"] .menu__icon--close {
    display: block;
}

/*-----------------------------*/
/* NAVBAR end. */
/*-----------------------------*/

/*-----------------------------*/
/* HEADER */
/*-----------------------------*/

.Header {
    background: #eb4f4e;
    text-align: center;
    color:white;
    font-family: Bariol;
    padding-top:30px;
}

.Header h1 {
    font-size:60px;
    letter-spacing: 5px;
    text-shadow: 0px 2px #d74443;
}

.Header p {
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 0px 2px #d74443;
}

/*-----------------------------*/
/* HEADER end. */
/*-----------------------------*/

/*-----------------------------*/
/* SmartCreative */
/*-----------------------------*/

.SmartCreative {
    background: #232324;
    text-align: center;
    color:white;
    font-family: Bariol;
    padding-top:30px;
}

.SmartCreative h1 {
    font-size:40px;
    letter-spacing: 5px;
    text-shadow: 0px 2px #000;
}

.SmartCreative p {
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 0px 2px #000;
    color: #e74c3c;
}

/*-----------------------------*/
/* SmartCreative end. */
/*-----------------------------*/

/*-----------------------------*/
/* Talented */
/*-----------------------------*/

.Team {
    background: #6cc372;
    text-align: center;
    color:white;
    font-family: Bariol;
    padding-top:30px;
    padding-bottom:20px;
}

.Team h1 {
    font-size:40px;
    letter-spacing: 5px;
    text-shadow: 0px 2px #64b86a;
}

.Team .TeamP {
    color:#000;
}

.Team p {
    font-size: 18px;
    letter-spacing: 2px;
    color:#eb4f4e;
}

.Team .TeamCard {
    background: #FFF;
    border: 10px solid #6cc372;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.Team .TeamCard img {
    margin-top:15px;
}

.Team .TeamCard h2 {
    color:#6cc372;
    font-size: 24px;
    padding-top: 10px;
}

.Team .btnFollow {
    background: #6cc372;
    border:1px solid #6cc372;
    letter-spacing: 5px;
}

.Team .btnFollow:hover {
    background: #5eb464;
}


/*-----------------------------*/
/* Talented end. */
/*-----------------------------*/